<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <!-- PicoCSS Styling-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
    <footer>
        <p>
            Nimble CMS
            Copyright © 2023 James David Clarke
          </p>
          <p>
            This program is free software: you can redistribute it and/or modify
            it under the terms of the <a href="https://git.jamesdavidclarke.com/james/nimblecms/-/blob/main/LICENSE">GNU Affero General Public License as published
            by the Free Software Foundation, either version 3 of the License, or
            (at your option) any later version.</a>
          </p>
        {% block footer %}
        {% endblock %}
    </footer>
</html>